@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #030617;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}